<div id="<%= dom_id brand %>">
  <p>
    <strong>Foundator:</strong>
    <%= brand.foundator %>
  </p>

  <p>
    <strong>Headquarter:</strong>
    <%= brand.headquarter %>
  </p>

  <p>
    <strong>Financial value:</strong>
    <%= brand.financial_value %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= brand.logo %>
  </p>

  <p>
    <strong>Promotional phrase:</strong>
    <%= brand.promotional_phrase %>
  </p>

</div>
